.margin-top-140{ 'data-controller': params[:controller], 'data-action': params[:action ]}
  %h1.text-align-center.margin-bot-neg-1 All of the Games
  %table.table-thin.margin-0-auto
    %tr
      %th Room Name
      %th First Player
      %th Created At
      %th Open?
    - @games.each do |game|
      %tr{'data-id': "#{game.id}", 'data-url': "#{game_path(game.id)}"}
        =form_for(game, as: @game, url: game_path(game)) do |f|
          %input{:name => "_method", :type => "hidden", :value => "patch"}
          %td
            #{game.room_name}
          %td
            #{game.first_player.username}
            .display-inline.score.display-none.margin-top-5
              #{'score:' + game.first_player.total_score}
          %td
            #{time_ago_in_words(game.created_at) + ' ago'}
          %td
            #{game.open?}
  .pagination-wrapper
    = paginate @games
