.static_index{'data-controller': params[:controller]}
  %p.notice= notice
  %p.alert= alert

  .margin-top-50px
    %h1.new-game-header.text-align-center
      Create New Game
    .new-game-container.margin-0-auto
      .inner-game-container
        = image_tag('http://www.baybushwalkers.org.au/wilsons12/wombat.gif', class: 'img-half-size margin-top-neg-50 cursor-pointer', id: 'wombat-img')
        .new-game-wrapper
          = form_for(@game, as: @game, url: new_api_game_path(@game)) do |f|
            .field.new-game
              %br
              = f.text_field :room_name, autofocus: true, class: 'input', id:'new-game-field', placeholder: 'room name'
            .actions
              = f.submit 'Create New Game', class: 'main-btn inconsolata-font letter-spacing-2', id: 'new-game-btn'
              = link_to 'Join Existing', api_games_path, class: 'main-btn'
